<p>
  coches works!
</p>

<form  #formCoche="ngForm" (ngSubmit)="onSubmit()">
<p>
  <label for="">Nombre : </label>
  <input type="text" name="nombre" #nombre="ngModel" [(ngModel)]="coche.nombre" id="">
</p>

<p>
  <label for="">caballaje : </label>
  <input type="text" name="caballaje" #caballaje="ngModel" [(ngModel)]="coche.caballaje" id="">
</p>
<p>
  <label for="">Color : </label>
  <input type="text" name="color" #color="ngModel" [(ngModel)]="coche.color" id="">
</p>
  <input type="submit" value="Guardar">

</form>