<div>
  <p>{{titulo}}</p>
</div>

<hr/>
<h3>Selector de colores:</h3>
<input type="text" [(ngModel)]="color_seleccionado" />

<!-- 
La forma de implementar el ngClass son las siguientes
 la primera es segun se cumpla una condicion se establecera una clase
   ej : fondoAzul: color_seleccionado == 'blue',  se estableceria la clase fondo azul si color seleccionado  es igual a 'blue'

 la otra forma es con un array de las clases que se desean aplicar
   [ngClass]="['fondoAzul','letraGrande']"
 -->
<pre [style.border]="color_seleccionado == 'red' ? '5px solid black' : '1px solid white' "   
    [ngClass]="{
     fondoAzul: color_seleccionado == 'blue',
     fondoVerde: color_seleccionado == 'green',
     letraGrande: 1==1
   }"   
>
  <strong>Color elegido</strong>
  {{color_seleccionado}}
</pre>

<div [ngStyle]="{'background':color_seleccionado, 
  'width': '200px',
  'height': '200px',
  'float': 'right',
  'margin-right': '69%'}"></div>

<div style="clear: both;"></div>

<h3>Colores switch</h3>
<ul [ngSwitch]="color">
  <li *ngSwitchCase="'red'" [ngStyle]="{'background':color, 
  'color': 'white'}">
    Es de color {{color}}
  </li>
  <li *ngSwitchCase="'green'" [ngStyle]="{'background':color, 
  'color': 'white'}">
    Es de color {{color}}
  </li>
  <li *ngSwitchCase="'blue'" [ngStyle]="{'background':color, 
  'color': 'white'}">
    Es de color {{color}}
  </li>
</ul>

<hr/>

<strong>Empleado estrella:</strong>


<div *ngIf="tabajador_externo == true">
  <button (click)="cambiarExterno(false)">Mostrar empleado</button>
  <ul >
    <li>{{trabajadores[0].nombre}}</li>
    <li>{{trabajadores[0].edad}}</li>
    <li>{{trabajadores[0].cargo}}</li>
    <li *ngIf="trabajadores[0].contratado == true" >Esta contratado</li>
    <li *ngIf="trabajadores[0].contratado == false" >No Esta contratado</li>
  </ul>
</div>

<hr/>
<div *ngIf="tabajador_externo == false">
  <button (click)="cambiarExterno(true)">Mostrar trabajador</button>
  <ul>
    <li>{{empleado.nombre}}</li>
    <li>{{empleado.edad}}</li>
    <li>{{empleado.cargo}}</li>
    <li *ngIf="empleado.contratado == true">Esta contratado</li>
    <li *ngIf="empleado.contratado == false">No Esta contratado</li>    
  </ul>
</div>

<hr/>
<h3>Listado de empleados</h3>
<ul>
  <li *ngFor="let empleado of trabajadores; let i = index">
    <strong>Empleado {{i+1}}</strong>
    <ul>
      <li>{{empleado.nombre}}</li>
      <li>{{empleado.edad}}</li>
      <li>{{empleado.cargo}}</li>
      <li *ngIf="empleado.contratado == true">Esta contratado</li>
      <li *ngIf="empleado.contratado == false">No Esta contratado</li>    
    </ul>
  </li>
</ul>

<hr/>


