<h4>
  {{titulo}}
</h4>

<button (click)="cambiar()">Cambiar</button>

<div *ngIf="administrador; then admin else noAdmin"> <!--si no se cumple la condicion se puede especificar la siguiente validacion 
                                            con ng-Template-->  
</div>

<ng-template #admin>
  <div>
    <strong style="background: yellow;">Eres administrador</strong>
  </div>
</ng-template>

<ng-template  #noAdmin>
<div>
  <strong style="background: red; color: white;">NO eres administrador</strong>
</div>
</ng-template>
