<h4>
  {{titulo}}
</h4>

<button (click)="cambiar()">Cambiar</button>

<div *ngIf="administrador; then admin else noAdmin"> <!--si no se cumple la condicion se puede especificar la siguiente validacion 
                                            con ng-Template-->  
</div>

<ng-template #admin>
  <div>
    <strong style="background: yellow;">Eres administrador</strong>
  </div>
</ng-template>

<ng-template  #noAdmin>
<div>
  <strong style="background: red; color: white;">NO eres administrador</strong>
</div>
</ng-template>


<br/>
<hr/>
<h4>Propiedades input en Angular</h4>

<!--para pasar el parametro al componente hijo solo se declara la propidad y su valor
Nota : el valor se envia entre comillas simples , amenos que se este enviando una propidad-->
<componente-hijo 
[propiedad_uno]="'valor de la propiedad uno'"
[texto]="'valor de la propiedad dos'"  
[propiedad_tres]="dato_externo"
[propiedad_4]="identity.web"   
[propiedad_5]="identity"   


(desde_el_hijo)="recibirDatos($event)"
>
<!--(desde_el_hijo) define el evento de salida del componente
este llamara un evento del objeto padre 'recibirDatos' que reciva los datos que llegan del 
componente hijo-->
</componente-hijo>

<hr/>

<div *ngIf="datos_del_hijo">
  <h1>{{datos_del_hijo.nombre}}</h1>
  <h1>{{datos_del_hijo.web}}</h1>
</div>