<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div> 

<nav>
  <a [routerLink]="['/home']">Home</a>|
  <a [routerLink]="['/fruta']">Fruta</a>|
  <a [routerLink]="['/empleado']">Empleado</a>|
  <a [routerLink]="['/contacto']">Contacto</a>|
</nav>

<!-- <app-fruta></app-fruta>
<app-empleado></app-empleado> -->



<!--Este sirve para cargar la ruta actual de la url
siempre y cuando este configurada en las rutas de los providers-->
<router-outlet></router-outlet>
