<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div> 

<nav>
  <a [routerLink]="['/home']" [routerLinkActive]="['activado']">Home</a>|
  <a [routerLink]="['/fruta']" [routerLinkActive]="['activado']">Fruta</a>|
  <a [routerLink]="['/empleado']" [routerLinkActive]="['activado']">Empleado</a>|
  <a [routerLink]="['/contacto']" [routerLinkActive]="['activado']">Contacto</a>|
  <a [routerLink]="['/coches']" [routerLinkActive]="['activado']">Coches</a>|
  <a [routerLink]="['/plantillas']" [routerLinkActive]="['activado']">Plantillas</a>|
  <a [routerLink]="['/usoJquery']" [routerLinkActive]="['activado']">Uso JQuery</a>|
</nav>

<!-- <app-fruta></app-fruta>
<app-empleado></app-empleado> -->



<!--Este sirve para cargar la ruta actual de la url
siempre y cuando este configurada en las rutas de los providers-->
<router-outlet></router-outlet>
